

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #6C5F5B; */
}
.pro{
    transition: transform 0.3s ease-in-out;
    height: 350px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    
}
.pro:hover{
    transform: scale(0.9);
    border: 1px solid rgb(196, 178, 178);
    border-radius: 20px;
}
html{
    scroll-behavior: smooth;
}
/* @media (max-width:992px) {
    
} */