
.search-results-container {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
  }
  
  .search-results {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
  }
  
  .search-results li {
    padding: 10px;
  }
  
  .search-results li a {
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .search-results li a:hover {
    background-color: #f0f0f0;
  }
   h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


 h3 span {
    color: #e0ac1c;
}
.navbar{
  background-color: #2d2a30;
}
.icons a i {
  color: #f0f0f0 ;
}